body {
  margin: 0;
  background-color: rgb(0, 0, 0);
}

header {
  text-align: center;
  background: rgba(0, 0, 0, 0.801);
  padding: 10px;
  color: rgb(218, 165, 32);
}

header h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  padding: 20px;
  background: rgb(206, 50, 50);
  color: white;
  margin-top: 20px;
}
footer dt {
  font-weight: bold;
}
footer dd {
  margin-left: 0;
}
.titulo {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.texto {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
background-image: url('docs\img\Open-pantry-shelves-with-canned-goods-and-spices.webp');
  background-size: cover; /* Faz a imagem preencher o fundo */
  background-attachment: fixed; /* Deixa o background fixo */
  background-position: center; /* Centraliza a imagem */
}

.content {
  height: 200vh; /* Aumenta a altura para criar espaço de rolagem */
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente para melhorar a legibilidade */
}